/** @format */

.titulo {
  padding-left: 40%;
  text-decoration: underline red;
}
.contenDatos,
.contenExperi {
  border: 5px solid blue;
}
.contenDatos {
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenDatos,
.contenExperi {
  font-style: italic;
}
