main{
    background: red;
}
header{
    border: 1px solid blue;
}
.list{
    margin: 0;
    padding: 0;

}
.list li{
    list-style: none;

}
/* id */
#mainContent{
    border: 10px solid orange;

}
.list2 li{
    color: hotpink;
    list-style: none;
}